/* 最小フォントサイズ : 16px */
html {
    font-size: 16px;
}

@media (min-width: 1280px) {
    /* 変化前のfont-size*2にする */
    html {
      font-size: 2em;
    }
}

body {
    color: snow;
    background: #4169e1;
}

div#clock_frame {
    width: 100%;
}

div#clock_time {
    font-size: 4em;
}